---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import VideoGallery from '../components/VideoGallery.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Air Bisig - Professional Aerial Photography & Videography Services">
	<Navigation />
	<Hero />
	<!-- Section separator -->
	<div class="h-8 bg-gradient-to-b from-orange-600 to-white"></div>
	<VideoGallery />
	<ContactForm />
</Layout>
